body {
    background-color: #D5ECF0;
    color: white;
    line-height: 1.5;
}

img { 
    background-color: #D5ECF0; 
    border: 1px solid #D5ECF0;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
}

a {
    color: #7FC6D7;
}

#wrapper {
    border: solid #8EAAC3;
    border-radius: 20px;
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    background-color: #0B244A;
    height: 3840px;
}

.Artista {
    border-top: 3px dashed #8EAAC3;
    width: 99.4%;
    height: 700px;
}

.Datos {
    border-top: 3px dashed #8EAAC3;
    width: 99.4%;
    height: 940px;
}

.Discografica {
    border-top: 3px dashed #8EAAC3;
    width: 99.4%;
    height: 500px;
}

.Giras {
    border-top: 3px dashed #8EAAC3;
    width: 99.4%;
    height: 650px;
}

.Preguntas {
    border-top: 3px dashed #8EAAC3;
    width: 99.4%;
    height: 920px;
}